<p align="left">Irvine</p>
<iframe src="<%= @url %>" height=290px width=100% scrolling=no class="content-border"></iframe>
<p align="left"><br/><br/>Amazon EC2 East</p>
<iframe src="<%= @url2 %>" height=290px width=100% scrolling=no class="content-border"></iframe>